<section>
  <div class="label-recent">
    <div>Часто посещаемые доски</div>
    <button><img src="assets/icons/close.png" alt=""></button>
  </div>
  <div class="body-recent">
    <ul>
      <li>
        <div class="icons" style="background-image: url('/assets/images/photo-1560471831-b434a204567d.jpg');"></div>
        <div class="frequently-visited-board">
          <div class="title">Приветствие РБЦ</div>
          <div class="description">Приветствие РБЦ</div>
        </div>
      </li>
      <li>
        <div class="icons" style="background-color: rgb(0, 121, 191);"></div>
        <div class="frequently-visited-board">
          <div class="title">Без названия</div>
          <div class="description">Рабочая площадка Trello</div>
        </div>
      </li>
    </ul>
  </div>

</section>
