<section>
  <div class="label-workspaces">
    <div>Рабочие пространства</div>
    <button><img src="assets/icons/close.png" alt=""></button>
  </div>
  <div class="body-workspaces">
    <h2 style="margin-top: 20px;">Текущее рабочее пространство</h2>
    <div class="current-workspace">
      <div class="board-icon">Р</div>
      <p>Рабочая площадка Trello</p>
    </div>
    <div style="border-top: 1px solid rgba(9, 30, 66, 0.08);"></div>
    <h2>Ваши рабочие пространства</h2>
    <div class="current-workspace">
      <div class="board-icon">Р</div>
      <p>Рабочая площадка Trello</p>
    </div>
    <h2>Гостевые рабочие пространства</h2>
    <div class="current-workspace">
      <div class="board-icon">П</div>
      <p>Приветствие РБЦ</p>
    </div>

  </div>

</section>
