<nav>
  <div class="board">
    <button><img src="assets/icons/align-vertical-top.png" alt="">
      <span>Доска</span><img src="assets/icons/openMenu.png" alt="">
    </button>
  </div>
  <div appAiming class="name-workspace" href="#name-workspace-id" >
    <h1>{{nameWorkspace}}</h1>
    <input id="name-workspace-id" aria-label="Без названия" spellcheck="false" maxlength="512" value="Без названия">
  </div>
  <div class="make-favorite"></div>
  <div class="change-workspace"></div>
  <div class="privacy"></div>
  <div class="users"></div>
  <div class="share-workspace"></div>
  <div class="improvements"></div>
  <div class="automation"></div>
  <div class="filter"></div>
  <div class="menu"></div>


</nav>
