<div class="color">
  <nav class="flex-container-top height-32">
    <div class="flex-container-top">
      <div class="other-products height-32">
        <button appAiming class="height-32">
          <img src="assets/icons/dots-grid.png" alt="" />
        </button>
      </div>
      <div class="home-page height-32">
        <button appAiming class="height-32">
          <b><img alt="i" src="assets/icons/trello.png" />Trello</b>
        </button>
      </div>

      <div class="flex-container-references height-32">
        <button appAiming id="workspaces" class="workspaces" type="button">
          <span>Рабочие пространства</span>
          <img src="assets/icons/openMenu.png" />
        </button>

        <button appAiming id="recent" class="recent">
          <span>Недавние</span>
          <img src="assets/icons/openMenu.png" />
        </button>

        <button appAiming id="favourites" class="favourites">
          <span>В избранном</span>
          <img src="assets/icons/openMenu.png" />
        </button>

        <button appAiming class="templates" id="templates">
          <span>Шаблоны</span>
          <img src="assets/icons/openMenu.png" />
        </button>
      </div>

      <div class="create height-32">
        <button appAiming class="height-32"><p>Создать</p></button>
      </div>
    </div>
    <div>
      <div class="top-right-menu height-32">
        <div appAiming class="search">
          <img src="assets/icons/magnify.png" />
          <span>Поиск</span>
        </div>
        <button appAiming>
          <img
            src="assets/icons/alert-circle-outline.png"
            style="width: 20px; height: 20px"
          />
        </button>
        <button appAiming>
          <img
            src="assets/icons/bell-outline.png"
            style="width: 20px; height: 20px"
          />
        </button>
        <button id="1" class="current-user">
          <b style="font-weight: 700; font-size: 18px"></b>
        </button>
      </div>
    </div>
  </nav>
</div>
<nav>
  <div class="board">
    <button>
      <img src="assets/icons/align-vertical-top.png" alt="" /> <span>Доска</span
      ><img src="assets/icons/openMenu.png" alt="" />
    </button>
  </div>
  <div appAiming class="name-workspace" href="#name-workspace-id">
    <h1>{{ nameWorkspace }}</h1>
    <input
      id="name-workspace-id"
      aria-label="Без названия"
      spellcheck="false"
      maxlength="512"
      value="Без названия"
    />
  </div>
</nav>
